.registrar_contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.registrar_caja{
  background-color: rgb(19, 122, 153);
  border-radius: 10px;
  width: 60%;
}
.registrar_caja_votar{
  background-color: lightgrey;
  border-radius: 10px;
}
@media (max-width:600px) {
  .registrar_caja{
    width: 95%;
    margin-bottom: 0;
    margin-top: 0;
  }
}