.partido_contenedor{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.partido_contenedores_partidos{
  width: 200px;
}
.imagen_banderas{
  width: 100%;
  height: 150px;
}
@media (max-width:400px) {
  .partido_contenedores_partidos{
  width: 160px;
   }
  .imagen_banderas{
    width: auto;
    height: 160px;
  }
}
