.home_contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.home_caja{
  background-color: rgb(153, 153, 19);
  border-radius: 10px;
  width: 60%;
}
.home_caja_votar{
  background-color: lightgrey;
  border-radius: 10px;
}
@media (max-width:500px) {
  .home_contenedor{
    height: auto;
  }
  .home_caja{
    width: 95%;
  }
}