.voto_contenedor{
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.voto_contenedor_1{
  width: 50%;
}
.voto_img{
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 1.5px 1px;
}
.voto_img:hover{
  transform: scale(1.009);
  transition: ease-in-out;
}